.dd-zone {
    height: 200px;
    border-width: 2px;
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center;
}

.dd-zone.drop {
    color: #222;
    border-color: #222;
}